<!-- Header -->
<ion-header>
  <ion-navbar>
    <ion-title>
      My App
    </ion-title>
  </ion-navbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-card *ngFor="let pageObj of pages" (click)="onLoadModule(pageObj)">
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="{{pageObj.icon}}" style="font-size: 3.2em;"></ion-icon>
      </ion-avatar>
      <h2>
        {{pageObj.title}}
      </h2>
    </ion-item>
    <ion-card-content>
      <p>{{pageObj.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Footer -->
<ion-footer *ngIf="showFooter">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-right color="royal">
        <div style="background-color: seagreen;width: 50px;height: 90%;font-weight: bold;text-align: center;color: black;padding-top: 5%;">5</div>
        <div style="background-color:tomato;width: 50px;height: 90%;font-weight: bold;text-align: center;color: black;padding-top: 5%;">2</div>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right color="royal">
        Next
        <!-- <ion-icon name="ios-skip-forward" small style="top:-10px;"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>