<!--
  Generated template for the QuestionBankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div>
  <div class="qa-header">
    Q. {{selectedQA.question}}
    <img [src]="selectedQA.img_url" *ngIf="selectedQA.img_url">
  </div>
  <!-- Answer content here -->
  <ion-list inset class="qa-answer">
    <ion-item *ngFor="let answerObj of selectedQA.options; let indx = index" text-wrap>
      <span (tap)="onTapAnswer(answerObj)" [ngClass]="answerObj.selectedRow ? 'selected-answer': ''" class="span-display">
        {{indx + 1 }}. {{answerObj.answer}}
      </span>
    </ion-item>
  </ion-list>
</div>