<!--
  Generated template for the QuestionBankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div>
  <div style="padding: 2%; border-bottom: 0.55px solid #c8c7cc;font-size: 16px;">
    {{onGetQuestionAnsData().question}}
    <img [src]="onGetQuestionAnsData().img_url" *ngIf="onGetQuestionAnsData().img_url">
  </div>
  <!-- Answer content here -->
  <ion-list inset>
    <ion-item *ngFor="let answerObj of onGetQuestionAnsData().options; let indx = index">
      <!-- [ngClass]="isSelectedAnswer : 'selected-answer' : ''"  -->
      <span style="display: flex;">
        {{indx + 1 }}.
        <div (tap)="onTapAnswer(answerObj, indx)" [ngClass]="selectedRow === indx? 'selected-answer': ''">
          {{ answerObj.answer}}
        </div>
      </span>
    </ion-item>
  </ion-list>
</div>