<!--
  Generated template for the QuestionBankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<div>
  <div style="padding: 2%; border-bottom: 0.55px solid #c8c7cc;font-size: 16px;">
    {{onGetQuestionAnsData().question}}
    <img [src]="onGetQuestionAnsData().img_url" *ngIf="onGetQuestionAnsData().img_url">
  </div>
  <!-- Answer content here -->
  <ion-list inset>
    <ion-item *ngFor="let answerObj of onGetQuestionAnsData().options">
      <!-- [ngClass]="isSelectedAnswer : 'selected-answer' : ''"  -->
      <div (tap)="onTapAnswer(answerObj)" [ngClass]="answerObj.isSelectedAnswer ? 'selected-answer': ''">
        {{answerObj.answer}}
      </div>
    </ion-item>
  </ion-list>
</div>